body {
    background-color: green;
    padding: 0;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.counter-wrapper {
    display: flex;
    background-color: black;
    padding: 10px;
}

.counter-digit {
    justify-content: center;
    width: 70px;
    height: 100px;
    margin: 1px;
    background-color: lightslategrey;
    color: white;
    font-size: 60px;
    display: flex;
    border-radius: 10px;
    align-items: center;
}

.counter-digit.icon {
    font-size: 60px;
    justify-content: center;
}